{% block subject %}Creacion de cuenta exitosa en Colmena Software{% endblock %}
{% block html %}
  <p>¡Hola {{user.full_name}}!</p>

  <p>Nos complace informarte que tu cuenta en “Colmena” ha sido creada con éxito. Tu identificación personal en nuestra comunidad es: {{user.username}}.
    <dl>
      <dt>Para acceder, utiliza el siguiente enlace: {{confirmation_link | urlize}}</dt>
      <dt>Si necesitas recuperar tu contraseña, puedes hacerlo aquí: {{recovery_link | urlize}}</dt>
      <dt>Además, te invitamos a visitar nuestros manuales de uso de Colmena y la sección de ayuda en el siguiente enlace: {{support_web | urlize}}</dt>
    </dl>  
  </p>
  <p>¡Gracias por unirte al enjambre de medios que utilizan “Colmena” para mantener viva la información local!</p>
  <p>Saludos cordiales, {{support_team}}</p>
{% endblock %}
