{% block subject %}Invitacion a unirse a Colmena Software{% endblock %}
{% block html %}
  <p>Hola {{user.full_name}}</p>
  <p>Colmena, super administrador de la Instancia Colmena gestionada por Colmena, te ha invitado a ser {{role}} de las cuentas de la organización correspondientes a la región {{region}}.
    <dl>
      <dt>Con este enlace puedes crear y configurar tu contraseña: {{invitation_link | urlize}}</dt>
    </dl>  
  </p>
  <p>Cualquier duda, contesta a este email.</p>
{% endblock %}
