{% block subject %}Confirmation to join Colmena Software{% endblock %}
{% block html %}
  <p>Hello {{user.full_name}}!</p>

  <p>We are pleased to inform you that your "Colmena" account has been successfully created. Your personal ID in our community is: {{user.username}}.
    <dl>
      <dt>To access, please use the following link:: {{confirmation_link | urlize}}</dt>
      <dt>If you need to recover your password, you can do so here: {{recovery_link | urlize}}</dt>
      <dt>In addition, we invite you to visit our Colmena user manuals and help section at the following link: {{support_web | urlize}}</dt>
    </dl>  
  </p>
  <p>Thank you for joining the swarm of media that use "Colmena" to keep local information alive!</p>
  <p>Cordial greetings, {{support_team}}</p>
{% endblock %}
