{% block subject %}Invitation to join Colmena Software{% endblock %}
{% block html %}
  <p>Hello {{user.full_name}}</p>
  <p>Colmena, super administrator of Colmena Instance managed by Colmena, has invited you to be {{role}} of the organization accounts corresponding to the {{region}} region.
    <dl>
      <dt>With this link you can create and configure your password: {{invitation_link | urlize}}</dt>
    </dl>  
  </p>
  <p>Any question, answer this email.</p>
{% endblock %}
