{% block subject %}Criação de conta com sucesso na Colmena{% endblock %}
{% block html %}
  <p>Olá {{user.full_name}}!</p>

  <p>Temos o prazer de o informar que a sua conta "Colmena" foi criada com sucesso. O seu ID pessoal na nossa comunidade é: {{user.username}}.
    <dl>
      <dt>Para aceder, utilize a seguinte ligação: {{confirmation_link | urlize}}</dt>
      <dt>Se precisar de recuperar a sua palavra-passe, pode fazê-lo aqui: {{recovery_link | urlize}}</dt>
      <dt>Além disso, convidamo-lo a visitar a nossa secção de manuais de utilizador e ajuda da Colmena na seguinte ligação: {{support_web | urlize}}</dt>
    </dl>  
  </p>
  <p>Obrigado por se juntar ao enxame de meios de comunicação que utilizam o "Colmena" para manter viva a informação local!</p> 
  <p>Com os melhores cumprimentos, {{support_team}}</p>
{% endblock %}
