{% block subject %}Convite para ingressar na Colmena Software{% endblock %}
{% block html %}
  <p>Olá {{user.full_name}}</p>
  <p>Colmena, super administrador da instância Colmena gerenciada por Colmena, convidou você para ser {{role}} das contas da organização correspondentes à região {{region}}.
    <dl>
      <dt>Com este link, você pode criar e configurar sua senha: {{invitation_link | urlize}}</dt>
    </dl>  
  </p>
  <p>Qualquer dúvida, responda a este e-mail.</p>
{% endblock %}
