{% block subject %}{% endblock %}
{% block html %}
    {% block extrahead %}
        <style>
            p {
                margin-bottom: 1.5rem;
            }
            .organization_logo {
                margin-bottom: 5rem;
            }
            .body {
                width: 70%;
                margin: 1rem 2rem 1rem 2rem;
            }
            .button {
                margin: 3rem 0rem 3rem 0rem;
            }
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
        </style>
    {% endblock %}
        <div class="body">
        {% block body %}
            <div class="organization_logo">
            {% block organization_logo %}{% endblock %}
            </div>
            <div class="greetings">
            {% block greetings %}{% endblock %}
            </div>
            <div class="content">
            {% block content %}{% endblock %}
            </div>
            <div class="regards">
            {% block regards %}{% endblock %}
            </div>
            <div class="powered_by">
            {% block powered_by %}
                <p><strong>Powered By</strong> <img src="{{backend_host}}/static/images/svg/colmena-isologo.svg"></p>
            {% endblock %}
            </div>
        {% endblock %}
        </div>
{% endblock %}